.App {
  display: flex;
}

.BrewStand {
  padding: 1rem;
}

.BrewStand > ul {
  min-height: 5rem;
}

.BrewStand-Item {
  padding: 0.25rem;
}

.BrewStand-Item:hover {
  cursor: pointer;
  background-color: #ccc;
}

.BrewStand-Button {
  margin: 0.25rem 0;
  padding: 0.5rem 1.25rem;
}

.BrewStand-Formula {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5em;
}
.Inventory {
  height: 100vh;
  overflow-y: auto;
}

.Inventory ul {
  margin-top: 0;
}

.Inventory-Title {
  padding: 1rem;
  text-align: center;
}
.InventoryItem {
  list-style: none;
  padding: 0.25rem;
}

.InventoryItem:hover {
  cursor: pointer;
  background-color: #ccc;
}
html {
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
