.BrewStand {
  padding: 1rem;
}

.BrewStand > ul {
  min-height: 5rem;
}

.BrewStand-Item {
  padding: 0.25rem;
}

.BrewStand-Item:hover {
  cursor: pointer;
  background-color: #ccc;
}

.BrewStand-Button {
  margin: 0.25rem 0;
  padding: 0.5rem 1.25rem;
}

.BrewStand-Formula {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5em;
}